src/main/resources/ini/fss.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://aeps.Csbemvonline.in/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://aeps.Csbemvonline.in/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://aeps.Csbemvonline.in/">
            <s:element name="TransactionRequest">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="requestData" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="TransactionRequestResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="TransactionRequestResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="TransactionRequestSoapIn">
        <wsdl:part name="parameters" element="tns:TransactionRequest"/>
    </wsdl:message>
    <wsdl:message name="TransactionRequestSoapOut">
        <wsdl:part name="parameters" element="tns:TransactionRequestResponse"/>
    </wsdl:message>
    <wsdl:portType name="CSB_ServiceSoap">
        <wsdl:operation name="TransactionRequest">
            <wsdl:input message="tns:TransactionRequestSoapIn"/>
            <wsdl:output message="tns:TransactionRequestSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CSB_ServiceSoap" type="tns:CSB_ServiceSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="TransactionRequest">
            <soap:operation soapAction="http://aeps.Csbemvonline.in/TransactionRequest" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CSB_ServiceSoap12" type="tns:CSB_ServiceSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="TransactionRequest">
            <soap12:operation soapAction="http://aeps.Csbemvonline.in/TransactionRequest" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CSB_Service">
        <wsdl:port name="CSB_ServiceSoap" binding="tns:CSB_ServiceSoap">
            <soap:address location="https://aepstest.fssnet.co.in/acquirer/CSB_EMV_Services_SIT/Services/CSB_Service.asmx"/>
        </wsdl:port>
        <wsdl:port name="CSB_ServiceSoap12" binding="tns:CSB_ServiceSoap12">
            <soap12:address location="https://aepstest.fssnet.co.in/acquirer/CSB_EMV_Services_SIT/Services/CSB_Service.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>